@page "/"

<h1>IT Zero - Tiny URL Admin</h1>

<div>
    <p>
    Welcome to the <b>Tiny URL Admin for IT Zero</b>
    </p>
    <p>
    If you are not entirely sure what to do here, then please contact us direct.
    </p>
    <div style="align-content: right;"><img class="mainLogo" src="/images/TinyIT0Admin.png" /></div>
</div>


